<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexao_SqlServer.Properties.Settings.String" connectionString="Data Source=LAPTOP-000NHHJV;Initial Catalog=DBCliente;User ID=sa;Password=Paradoxo22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>